body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-image: url(./images/car.jpeg);
    background-repeat: no-repeat;
}
#name  {
    color: blue;
}